 <!-- Intro Header -->
 <header class="intro">
 <div class="intro-body">
 <div class="container">
 <div class="row">
 <div class="col-md-8 col-md-offset-2">
 <h1 class="brand-heading">CJ COMPUTER SOLUTIONS</h1>
 <p class="intro-text">The best in IT services.<br>Created on July 2014</p>
 <a href="#contact" class="btn btn-circle page-scroll pulse">
 <i class="fa fa-angle-double-down"></i>
 </a>
 </div>
 </div>
 </div>
 </div>
 </header>
 
 
<a href="#download2" class="btn btn-circle page-scroll pulse">
 <i class="fa fa-angle-double-down"></i>
 </a>
 <!-- Download SASS Section -->
 <section id="download2" class="content-section text-center">
 <div class="download-section">
 <div class="container">
 <div class="col-lg-8 col-lg-offset-2">
 <h2><strong>About Us</strong></h2>
 <p>We love what we do</p>

<p>At CJ COMPUTER we are commited to keep both our customers and staff members happy.</p>

<p>We keep our customers satisfied by providing them with great solutions and staff that will help them to develop their ideas and bring them to life. We search for the best staff members and give you the opportunity to talk to them and find the one that will suit your needs.</p>

<p>On the other hand our staff members are always eager to help. We give them the opportunity to choose whether or not to be part of a project and pick the ones they are interested in. They are always looking for new challenges, learning experiences and helping you, the best way they can, to achieve your goals.</p>

<p>By keeping both parts happy we create a great collaborative and growth environment.</p>

<p>Our staff has expertise in a variety of technologies, we can deliver high quality solutions that would help you work  in  the most efficient way.</p>

 </div>
 </div>
 </div>
 </section>

 



 
